version: '3.8'

services:
  app:
    build: .
    container_name: fuzzy_hoax_detector
    ports:
      - "8501:7860"
    volumes:
      - .:/app
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
